%nav.navbar.navbar-expand-md.bg-dark.navbar-dark
  = link_to root_path, class: 'navbar-brand' do
    SampleShop
  %button.navbar-toggler{type: "button", "data-toggle": "collapse", "data-target": "#collapsibleNavbar"}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#collapsibleNavbar
    %ul.navbar-nav
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle{href: "#", id: "navbardrop", "data-toggle": "dropdown"}
          Products
        .dropdown-menu
          - @categories.each do |cat|
            = link_to cat.name, cat, class: 'dropdown-item'
